/* Global styles css file for every html file */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato&family=Roboto&family=Work+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

:root {
  --primary-color: #9d9df1;
  /* dark mode */
  --font-primary-color-dark: rgb(50, 50, 50);
  --font-accent-color-dark: rgb(30, 30, 30);
  /* light mode */
  --font-primary-color-light: rgb(209, 209, 209);
  --font-accent-color-light: rgb(230, 230, 230);
  /* Misc */
  --transition-time: 0.3s;
}

/*  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
