@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato&family=Roboto&family=Work+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* colors */
  --primary-color: #8a8ad6;
  --font-primary-color-dark: rgb(50, 50, 50);
  --font-accent-color-dark: rgb(30, 30, 30);
  --bg-color-primary: snow;
  --bg-color-accent: white;
  /* Misc */
  --transition-time: 0.3s;
  --uni-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  --border-main: 3px solid var(--primary-color);
  /* --border-secondary: ;
  /* font */
  --font-family-heading: "Raleway", sans-serif;
  --font-family-p: "Roboto";
  --font-heading-size: 1.8rem;
  --font-heading-small-size: 1.5rem;
  --font-p-size: 1rem;
}
body {
  background-color: var(--bg-color-primary) !important;
  font-family: "Alegreya", serif;
}
h1,
h3 {
  font-family: var(--font-family-heading);
  color: var(--font-accent-color-dark);
  margin: 0 !important;
}
h1 {
  font-size: var(--font-heading-size) !important;
}
h3 {
  font-size: var(--font-heading-small-size) !important;
}
p {
  font-family: var(--font-family-p);
  font-size: var(--font-p-size) !important;
  color: var(--font-primary-color-dark);
  margin: 0 !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
  transition: var(--transition-time);
}
button {
  border: none;
  outline: none;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--primary-color);
  transition: var(--transition-time);
}
#heading-of-page {
  background-color: var(--bg-color-accent);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
/* Navigation bar */
.header-nav,
.footer-nav {
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-accent-color-dark);
  background-color: var(--bg-color-accent);
}
.header-nav {
  box-shadow: var(--uni-box-shadow);
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  gap: 1rem;
  padding: 1rem;
}
nav > ul > li a:hover {
  color: var(--primary-color) !important;
}
.active-link {
  color: var(--primary-color);
}
nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.logout-btn {
  background-color: transparent;
  /* border: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: auto;
  background-color: var(--bg-color-accent);
  border-top: 1px solid rgb(209, 213, 219);
}
.footer-nav {
  height: fit-content;
  border-bottom: 2px solid black;
  max-width: 50%;
  width: 800px;
}
#footer-nav-list {
  padding: 0;
}
footer p {
  padding: 1rem;
}
/* Hamburger menu */
#hamburger-menu {
  display: none;
}
.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.animated-icon1 span {
  background: var(--primary-color);
}
.animated-icon1 span:nth-child(1) {
  top: 0px;
}
.animated-icon1 span:nth-child(2) {
  top: 10px;
}
.animated-icon1 span:nth-child(3) {
  top: 20px;
}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.animated-icon1.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  #heading-of-page {
    text-align: center;
  }
}
/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Hamburger menu setup */
  #hamburger-menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 5;
  }
  .header-nav > ul {
    display: none;
  }
  .show {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: var(--bg-color-accent);
  }
  .show li {
    width: 100%;
    display: flex;
    padding: 0.75rem 0.5rem;
    border-bottom: 2px solid black;
  }
}
