<div class="leaderboard-page" id="leaderboard-container">
  <h2 class="leaderboard-heading">Leaderboard</h2>
  <p>The rankings are based on the number of points scored in quizzes.</p>
  <section class="user-ranking">
    <p>
      <span class="user-ranking-label">Ranking: </span>
      <span>36</span>
    </p>
    <img src="../images/avatars/avatar_7.png" alt="avatar" loading="lazy" />
    <p>Faris Muhovic</p>
    <p>3 points</p>
    <p>1 quizzes taken</p>
    <p>Favourite category: Geography</p>
  </section>
  <section class="user-ranking">
    <p>
      <span class="user-ranking-label">Ranking: </span>
      <span>1st</span>
    </p>
    <img src="../images/avatars/avatar_7.png" alt="avatar" loading="lazy" />
    <p>Faris Muhovic</p>
    <p>2436 points</p>
    <p>324 quizzes taken</p>
    <p>Favourite category: Music</p>
  </section>
  <section class="user-ranking">
    <p>
      <span class="user-ranking-label">Ranking: </span>
      <span>2nd</span>
    </p>
    <img src="../images/avatars/avatar_3.png" alt="avatar" loading="lazy" />
    <p>Faris Muhovic</p>
    <p>1234 points</p>
    <p>124 quizzes taken</p>
    <p>Favourite category: Math</p>
  </section>
  <section class="user-ranking">
    <p>
      <span class="user-ranking-label">Ranking: </span>
      <span>3rd</span>
    </p>
    <img src="../images/avatars/avatar_5.png" alt="avatar" loading="lazy" />
    <p>Faris Muhovic</p>
    <p>632 points</p>
    <p>66 quizzes taken</p>
    <p>Favourite category: History</p>
  </section>
  <section class="user-ranking">
    <p>
      <span class="user-ranking-label">Ranking: </span>
      <span>4</span>
    </p>
    <img src="../images/avatars/avatar_2.png" alt="avatar" loading="lazy" />
    <p>Faris Muhovic</p>
    <p>462 points</p>
    <p>43 quizzes taken</p>
    <p>Favourite category: History</p>
  </section>
</div>
