<div class="quiz-history-page">
  <form action="" method="post" id="search-form">
    <input
      type="search"
      name="searchQuery"
      id="search-bar"
      placeholder="Search for an quiz name."
      required
    />
    <button type="submit" class="form-submit-btn">Search</button>
  </form>
  <div class="quiz-history-page" id="quiz-history-container">
    <h1 class="page-heading">Your recently taken quizes</h1>
    <section class="history-item">
      <h3>Mathematics Challenge</h3>
      <p>
        <span class="material-symbols-outlined"> calendar_month </span>
        <span>12/03/2024</span>
      </p>
      <p>
        <span class="material-symbols-outlined">schedule</span>
        <span>45 minutes</span>
      </p>
      <p>Score: 22/25 (88%)</p>
      <a href="">Review Answers</a>
      <a href="">Retake Quiz</a>
    </section>
    <section class="history-item">
      <h3>World History Trivia</h3>
      <p>
        <span class="material-symbols-outlined"> calendar_month </span>
        <span>05/03/2024</span>
      </p>
      <p>
        <span class="material-symbols-outlined">schedule</span>
        <span>30 minutes</span>
      </p>
      <p>Score: 14/15 (93%)</p>
      <a href="">Review Answers</a>
      <a href="">Retake Quiz</a>
    </section>
    <section class="history-item">
      <h3>Classic Literature Quiz</h3>
      <p>
        <span class="material-symbols-outlined"> calendar_month </span>
        <span>22/02/2024</span>
      </p>
      <p>
        <span class="material-symbols-outlined">schedule</span>
        <span>35 minutes</span>
      </p>
      <p>Score: 18/20 (90%)</p>
      <a href="">Review Answers</a>
      <a href="">Retake Quiz</a>
    </section>
  </div>
</div>
