<div class="quiz">
  <div class="time">
    <p id="quiz-time-left">Time left: 39:47</p>
  </div>
  <section class="heading">
    <h1>Chemistry Basics</h1>
    <h3>Science</h3>
  </section>
  <form action="">
    <section class="question">
      <h4 class="question-title">What is the boiling point of water?</h4>

      <div class="btn-group" role="group" aria-label="Boiling point options">
        <input
          type="radio"
          class="btn-check"
          id="boiling1"
          autocomplete="off"
          checked
        />
        <label class="btn" for="boiling1">100°C</label>

        <input
          type="radio"
          class="btn-check"
          id="boiling2"
          autocomplete="off"
          checked
        />
        <label class="btn" for="boiling2">90°C</label>

        <input
          type="radio"
          class="btn-check"
          id="boiling3"
          autocomplete="off"
        />
        <label class="btn" for="boiling3">80°C</label>
      </div>
    </section>

    <section class="question">
      <h4 class="question-title">Which planet is known as the Red Planet?</h4>

      <div class="btn-group" role="group" aria-label="Planet options">
        <input
          type="radio"
          class="btn-check"
          id="planet1"
          autocomplete="off"
          checked
        />
        <label class="btn" for="planet1">Mars</label>

        <input
          type="radio"
          class="btn-check"
          id="planet2"
          autocomplete="off"
          checked
        />
        <label class="btn" for="planet2">Jupiter</label>

        <input type="radio" class="btn-check" id="planet3" autocomplete="off" />
        <label class="btn" for="planet3">Venus</label>
      </div>
    </section>

    <section class="question">
      <h4 class="question-title">What is the atomic number of oxygen?</h4>

      <div class="btn-group" data-bs-toggle="buttons">
        <label class="btn active">
          <input
            type="radio"
            class="me-2"
            name="atomicNumberOxygen"
            id="oxygen1"
            autocomplete="off"
            checked
          />
          8
        </label>
        <label class="btn">
          <input
            type="radio"
            class="me-2"
            name="atomicNumberOxygen"
            id="oxygen2"
            autocomplete="off"
          />
          16
        </label>
        <label class="btn">
          <input
            type="radio"
            class="me-2"
            name="atomicNumberOxygen"
            id="oxygen3"
            autocomplete="off"
          />
          18
        </label>
      </div>
    </section>
    <button>Submit</button>
  </form>
  <div class="footer"></div>
</div>
