<div class="quiz-management">
  <form action="" method="post" id="search-form">
    <input
      type="search"
      name="searchQuery"
      id="search-bar"
      placeholder="Search for an quiz name."
      required
    />
    <button type="submit" class="form-submit-btn">Search</button>
    <button type="button" id="new-quiz-btn">Create a new quiz</button>
  </form>
  <h1 class="quizzes-heading">Current quizzes</h1>
  <section class="quiz-section" id="quiz-container">
    <div class="quiz">
      <div class="quiz-info">
        <p>Chemistry Basics</p>
        <p></p>
      </div>
      <div class="btns-wrapper">
        <button id="edit-quiz-btn-modal">Edit</button>
        <button id="delete-quiz-btn-modal">Delete</button>
      </div>
    </div>
    <div class="quiz">
      <div class="quiz-info">
        <p>Mathematics Challenge</p>
      </div>
      <div class="btns-wrapper">
        <button>Edit</button> <button>Delete</button>
      </div>
    </div>
    <div class="quiz">
      <div class="quiz-info">
        <p>Mathematics Challenge</p>
      </div>
      <div class="btns-wrapper">
        <button>Edit</button> <button>Delete</button>
      </div>
    </div>
  </section>
</div>

<!-- Modals  -->
<div id="modal">
  <div class="modal-header-def">
    <h3 class="modal-title-def">Create a quiz</h3>
    <button type="button" class="close" id="close-btn-head">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body-def">
    <form action="" method="post" id="create-quiz-form-head">
      <input
        type="text"
        name="title"
        id="title"
        required
        placeholder="Quiz title"
      />
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="3"
        placeholder="Description of the quiz"
        required
      ></textarea>
      <input
        type="number"
        min="0"
        max="180"
        name="quizLength"
        id="quizLength"
        required
        placeholder="Type in the length of quiz"
      />
      <!-- Bootstrap 5 select component -->
      <select
        class="selectpicker form-control border rounded-0 border-bottom border-dark border-2 px-2 py-2 my-3"
        name="category"
        id="category"
        required
      >
        <option value="" selected>Category</option>
        <option value="science">Science</option>
        <option value="math">Mathematics</option>
        <option value="history">History</option>
        <option value="literature">Literature</option>
        <option value="geography">Geography</option>
        <option value="languages">Languages</option>
        <option value="sports">Sports</option>
        <option value="music">Music</option>
        <option value="movies">Movies</option>
      </select>
      <button type="button" id="add-question-btn">Add question</button>
      <!-- dynamically generate questions with javascript on buttn click -->
      <div class="questions-container" id="questions-container">
        <div class="question">
          <div class="question-header">
            <input
              type="text"
              name="questionName"
              id="questionName"
              placeholder="Enter question"
              required
            />
            <input
              type="number"
              min="1"
              max="10"
              name="quizLength"
              id="quizLength"
              required
              placeholder="Number of answers"
            />
            <select
              class="selectpicker form-control border rounded-0 border-bottom border-dark border-2 px-2 py-2"
              name="typeOfQuestion"
              id="typeOfQuestion"
              required
            >
              <option value="" selected>Type</option>
              <option value="multipleChoice">Multiple Choice</option>
              <option value="checkbox">Checkbox</option>
            </select>
          </div>
          <div class="question-body">
            <!-- here goes the input type and boxes etc.. and checkbox next to them for which one is right-->
            <div class="question-answer">
              <input type="text" name="" id="" placeholder="Answer one" />
              <label>
                <input type="checkbox" name="" id="" />
                <span>Correct Answer</span>
              </label>
            </div>
          </div>

          <div class="question-footer">
            <button type="button" id="delete-question-btn">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </div>
        </div>
        <div class="question">
          <div class="question-header">
            <input
              type="text"
              name="questionName"
              id="questionName"
              placeholder="Enter question"
              required
            />
            <input
              type="number"
              min="1"
              max="10"
              name="quizLength"
              id="quizLength"
              required
              placeholder="Number of answers"
            />
            <select
              class="selectpicker form-control border rounded-0 border-bottom border-dark border-2 px-2 py-2"
              name="typeOfQuestion"
              id="typeOfQuestion"
              required
            >
              <option value="" selected>Type</option>
              <option value="multipleChoice">Multiple Choice</option>
              <option value="checkbox">Checkbox</option>
            </select>
          </div>
          <div class="question-body">
            <!-- here goes the input type and boxes etc.. and checkbox next to them for which one is right-->
            <div class="question-answer">
              <input type="text" name="" id="" placeholder="Answer one" />
              <label>
                <input type="checkbox" name="" id="" />
                <span>Correct Answer</span>
              </label>
            </div>
          </div>

          <div class="question-footer">
            <button type="button">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer-def">
        <button type="submit">Save changes</button>
        <button type="button" id="close-btn-footer">Close</button>
      </div>
    </form>
  </div>
</div>
