<div class="user-management-page">
  <form action="" method="post" id="search-form">
    <input
      type="search"
      name="searchQuery"
      id="search-bar"
      placeholder="Search for an user name."
      required
    />
    <button type="submit" class="form-submit-btn">Search</button>
  </form>
  <h1 class="users-heading">Users</h1>
  <section class="users-section" id="user-container">
    <div class="user">
      <div class="user-info" id="user-info">
        <p>Name: Faris Muhovic</p>
        <p>Type: User</p>
        <p>Email: faris.muhovic@stu.ibu.edu.ba</p>
        <p>Date registered: 24/07/2024</p>
      </div>
      <div class="btns-wrapper">
        <button id="promote-btn">Promote</button>
        <button id="remove-user-btn">Remove</button>
      </div>
    </div>
    <div class="user">
      <div class="user-info">
        <p>Name: Faris Muhovic</p>
        <p>Type: Admin</p>
        <p>Email: faris.muhovic@stu.ibu.edu.ba</p>
        <p>Date registered: 24/07/2024</p>
      </div>
      <div class="btns-wrapper">
        <button id="promote-btn">Promote</button>
        <button id="remove-user-btn">Remove</button>
      </div>
    </div>
    <!-- REMOVE -->

    <div class="user">
      <div class="user-info">
        <p>Name: Faris Muhovic</p>
        <p>Type: Admin</p>
        <p>Email: faris.muhovic@stu.ibu.edu.ba</p>
        <p>Date registered: 24/07/2024</p>
      </div>
      <div class="btns-wrapper">
        <button id="promote-btn">Promote</button>
        <button id="remove-user-btn">Remove</button>
      </div>
    </div>

    <div class="user">
      <div class="user-info">
        <p>Name: Faris Muhovic</p>
        <p>Type: Admin</p>
        <p>Email: faris.muhovic@stu.ibu.edu.ba</p>
        <p>Date registered: 24/07/2024</p>
      </div>
      <div class="btns-wrapper">
        <button id="promote-btn">Promote</button>
        <button id="remove-user-btn">Remove</button>
      </div>
    </div>

    <div class="user">
      <div class="user-info">
        <p>Name: Faris Muhovic</p>
        <p>Type: Admin</p>
        <p>Email: faris.muhovic@stu.ibu.edu.ba</p>
        <p>Date registered: 24/07/2024</p>
      </div>
      <div class="btns-wrapper">
        <button id="promote-btn">Promote</button>
        <button id="remove-user-btn">Remove</button>
      </div>
    </div>
  </section>
</div>
